.about-project__time-title {
  font-weight: normal;
  text-align: center;
  padding: 11px 0;
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 320px) {
  .about-project__time-title {
    font-size: 11px;
    line-height: 13px;
  }
}
