.about-project__title {
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  border-bottom: 1px #dadada solid;
  padding: 0 0 25px 0;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .about-project__title {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 28px 0;
  }
}
