.about-project__time-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: grid;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .about-project__time-subtitle {
    font-size: 11px;
    line-height: 13px;
  }
}
