.navigation {
  margin: 0 auto;
  position: relative;
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    width: 520px;
    height: 1024px;
    display: contents;
  }
}

@media screen and (max-width: 320px) {
  .navigation {
    width: calc(100% - 2 * 10px);
    height: 780px;
  }
}
