.about-project {
  background: #202020;
  width: calc(100% - 2 * 70px);
  margin: 70px auto 110px auto;
}

@media screen and (max-width: 768px) {
  .about-project {
    margin: 90px auto 0 auto;
    width: calc(100% - 2 * 50px);
  }
}

@media screen and (max-width: 320px) {
  .about-project {
    width: calc(100% - 2 * 18px);
  }
}
