.footer {
  width: calc(100% - 2 * 70px);
  margin-top: 79px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2 * 30px);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: grid;
    justify-items: center;
    width: calc(100% - 2 * 10px);
  }
}
