.about-project__text-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 70px auto auto 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .about-project__text-title {
    font-size: 18px;
    line-height: 22px;
    margin: 60px auto auto 0;
  }
}
