.header__button {
  font-family: Inter;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  border-radius: 3px;
  background-color: #3DDC84;
  border: none;
  width: 76px;
  height: 32px;
  margin: 21px 70px 21px 30px;
}

@media screen and (max-width: 768px) {
  .header__button {
    margin: 21px 30px 21px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__button {
    font-size: 10px;
    margin: 21px 14px;
    width: 54px;
    height: 26px;
  }
}
